[2017-09-26 16:18] dvantwisk opened #2 "Gateway Timeout Error while querying rheMac8 genome from UCSC"
We've encountered an error while trying to build TxDb packages from `GenomicFeatures` and have isolated it to `rtracklayer`.  As the title states, we are unable to query the rheMac8 genome and we receive a Gateway Timeout Error.  This code seems to be failing uniquely on this genome and functions correctly for all others attempted (e.g. rheMac3 as the genome works).  The below code is a reproducib

[2017-09-26 16:53] lawremi commented on #2
There seems to be an issue just downloading that table through the UCSC table browser web interface, so I guess this is a UCSC issue. It just pauses after downloading about ~1.44 MB, like the size of an old floppy. After a minute or so, it resumes. I guess RCurl is not as robust to that as my web browser.

[2017-09-27 14:56] vobencha commented on #2
Hi Michael,
This problem came up when Daniel was building the TxDbs for the upcoming release. To get around this for rheMac8 we can manually download the table and use `makeTxDbPackage`.

In the bigger picture, do you think this should be reported to UCSC? If yes, what would be a clean example to send them? Just a browser query of the refGene table for rheMac8?

Val

[2017-09-27 15:49] lawremi commented on #2
You could just tell them about the issues with downloading Refseq genes for rheMac8 via the table browser. I don't think there's a clean URL or anything for commuicating that.

[2017-09-27 15:55] vobencha commented on #2
OK thanks. @dvantwisk can you report this to UCSC?

[2017-09-27 16:25] dvantwisk commented on #2
Sure, I'll tell them about this.

[2017-10-02 13:27] vobencha commented on #2
@lawremi  It's not clear how to report this problem to UCSC. rtracklayer uses RCurl and passes a cookie. When we just curl the url and don't pass a cookie it works. We want to report the problem in a Bioconductor-independent way so that's probably just an example of a query through the UCSC browser web interface.

Daniel mentioned there are several interfaces for downloading these files from the U

[2017-10-02 14:51] lawremi commented on #2
This is the table browser I was referring to:

http://genome.ucsc.edu/cgi-bin/hgTables

[2017-10-02 17:07] vobencha commented on #2
Thanks Michael. @dvantwisk can you reproduce the delay via this link? If yes, it should be enough for a bug report.

[2017-10-02 22:16] hpages commented on #2
@lawremi Note that `getTable()` uses the following call to `RCurl::getForm()` internally to retrieve the table data:
[code]
As noted by Val and Daniel, what's getting in the way here is the cookie. If you just use:
[code]

[2017-10-02 22:36] hpages commented on #2
Of course this should not prevent us from reporting the problem to the UCSC folks (if we manage to reproduce it with their tools). Was just wondering how hard it would be to make `getTable()` more robust to these kinds of problems.
H.

[2017-10-03 03:46] lawremi commented on #2
I don't know if the hguid is necessary or not. Perhaps it's only needed when working with custom (user uploaded) tracks. Are you sure that you're getting the right data (i.e., not human data) after removing the cookie? If so, then I guess there could be a way to disable the sending of the cookie in `ucscGet()`. Super weird that things break though, because the browser is obviously sending the cook

[2017-10-03 12:43] lshep opened #3 "ucscSchemaDescription in release Bioc3.5"
It appears the bug has been fixed in devel but not in git branch RELEASE_3_5.  Could you please also push changes to the release branch:
[code]
The lines that ERROR are line 445/446 of ucsc.R
[code]

[2017-10-03 17:50] lawremi commented on #3
Yea, I am trying to do that but git is not playing along.

[2017-10-03 20:04] lawremi commented on #3
I think I managed to push the fix into release, thanks to Nitesh.

[2017-10-03 20:04] #3 closed

[2017-10-04 00:02] hpages commented on #2
I think you can control the assembly by adding something like `db="rheMac8"` to `.form`. Also `hgsid.value` and `hguid` don't seem to be needed. With a simpler example (Assembly track for sacCer3):
[code]
Then:
[code]
H.

[2017-10-04 02:26] lawremi commented on #2
Yea but I am relying on UCSC for maintaining that state (the genome) via the hgsid. The hgsid is used throughout the UCSC website, so it's simplest to just refer to that. The hguid might only be for custom tracks, so maybe we could drop it from that context.

[2017-10-04 03:33] hpages commented on #2
Was a FWIW only. Always a good exercise to try to identify the "minimum requirements".

[2017-10-10 12:10] lawremi commented on #2
I changed it to drop the cookie when interacting with the table browser. Seems to work for me now. Sorry it took so long.

[2017-10-10 12:10] #2 closed

[2017-12-11 11:35] eandresleon opened #4 "error with TackNames and UCSC"
More info at:

https://support.bioconductor.org/p/103829/

[2017-12-11 13:20] lawremi commented on #4
Already fixed.

[2017-12-12 12:33] eandresleon commented on #4
Thanks. I've tested in 1.38.2 and it worked.
Thanks again

[2017-12-13 13:56] marencc commented on #4
I've teste 1.38.2 and still get the same error.
[code]
``> sessionInfo() R version 3.4.0 (2017-04-21) Platform: x86_64-pc-linux-gnu (64-bit) Running under: Ubuntu 16.04.2 LTS  Matrix products: default BLAS: /usr/lib/libblas/libblas.so.3.6.0 LAPACK: /usr/lib/lapack/liblapack.so.3.6.0  locale:  [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C               LC_TIME=es_ES.UTF-8        LC_COLLATE=en_US.UTF-

[2017-12-13 18:22] lawremi commented on #4
I'm unable to reproduce this. It may be a regional thing, where different UCSC mirrors or localizations return slightly different HTML.

You could do:
[code]
And then evaluate the first line, to assign the `tracks` object. Then print `tracks` and put the output in a pastebin or something.

[2017-12-14 10:44] marencc commented on #4
Hi! if I do that, this is the output I get:

`function (object, form = list()) {
  tracks <- ucscGet(object, "tracks", form)
  nodes <- getNodeSet(tracks, "//select/option[@selected]/text()")
  trackModes <- sapply(nodes, xmlValue)
  nodes <- getNodeSet(tracks, "//select/@name")
  trackIds <- unlist(nodes)
  nodes <- getNodeSet(tracks, "//select/../a/text()")
  nms <- sapply(nodes, xmlValue)
  nam

[2017-12-14 14:38] lawremi commented on #4
Did you read the part of the instructions after the `debug()` call? You'll need to evaluate the first line and print the `tracks` object.

[2017-12-14 14:55] marencc commented on #4
I don't get any output after the debug() call.

[2017-12-14 14:58] marencc commented on #4
`

Tracing function ".local" in package "rtracklayer"
Tracing .local(object, ...) step 2
Called from: eval(expr, p)
Browse[1]> n
debug: tracks <- ucscGet(object, "tracks", form)
Browse[2]> Q`

[2017-12-14 14:59] lawremi commented on #4
Instead of typing `Q` just type `tracks`.

[2017-12-14 15:03] marencc commented on #4
Here:
`

Tracing function ".local" in package "rtracklayer"
Tracing .local(object, ...) step 2
Called from: eval(expr, p)
Browse[1]> n
debug: tracks <- ucscGet(object, "tracks", form)
Browse[2]> tracks
Error: object 'tracks' not found
`

[2017-12-14 15:11] marencc commented on #4
It's strange, I can't. It's automatically done.

`

Tracing function ".local" in package "rtracklayer"
Tracing .local(object, ...) step 2
Called from: eval(expr, p)
Browse[1]> n
debug: tracks <- ucscGet(object, "tracks", form)
--

Browse[2]> | Browse[2]>
Browse[2]>

`

[2017-12-14 15:12] marencc commented on #4
I f I try to
eval (tracks)
it can't find the object. if I call the "makeTxDbFromUCSC". I get the output that I sent.

[2017-12-14 15:26] marencc commented on #4
I've restarted R and... now is working. Many thanks for your help.

[2017-12-15 20:30] nbahti commented on #4
@marencc  can you please list the steps you did to get makeTxDbFromUCSC work?

[2017-12-29 15:35] swvanderlaan commented on #4
Yes! Please @marencc do list the steps you took to get `makeTxDbFromUCSC` to work.

I did:

[code]

But I still get the same error as you @marencc. Admittedly, I also get a message stating R Studio can't install "RMySQL"... and thus I end up in dependency hell. Would love to get to know a method that doesn't end up into that hell... :-)

Thanks!

[2018-01-04 12:21] marencc commented on #4
@swvanderlaan, @nbahti
I'm sorry, I made it work for one week or so. Currently, I get this output:
`> refSeq2             <- makeTxDbFromUCSC(genome="hg19",tablename="knownGene")
Download the knownGene table ... Error: Bad Request`
So, it's not working again.
Previously, I just updated the TxDb.Hsapiens.UCSC.hg19.knownGene_3.2.2
I can't make it work now...

[2018-01-04 18:11] lawremi commented on #4
Possibly just a temporary networking issue? I can't reproduce this. It's also possible that it is mirror-dependent. UCSC sometimes behaves slightly differently depending on the mirror, and thus your region of the world.

@swvanderlaan are you using R release or devel? Failure to install RMySQL probably means that there is no CRAN binary available for your version of R.

[2018-01-14 08:51] hpages opened #5 "getTable() produces a Bad Request error"
Hi @lawremi

It seems that `getTable()` started to fail more than one week ago with a "Bad Request" error when trying to get some UCSC tables e.g.:
[code]
This also happens with the other organism/track combinations that I tried (e.g. hg19/Assembly and hg19/ensGene).

I noticed that a new version of RCurl (1.95-4.10) showed up on CRAN around the time that `getTable()` started to fail:

  https://c

[2018-01-16 15:25] lawremi commented on #5
Most likely something on the UCSC side. It does not fail reliably for me.

[2018-01-16 18:30] hpages commented on #5
Sorry but I have to ask: are you planning to do something about this?

[2018-01-16 21:33] lawremi commented on #5
Of course.

[2018-01-16 22:42] hpages commented on #5
Sounds good, thanks! This is confirmed by `R CMD check` failing on Linux but not on Mac for GenomicRanges in release:
  https://bioconductor.org/checkResults/3.6/bioc-LATEST/GenomicRanges/

[2018-01-16 23:23] lawremi commented on #5
Btw, I did a diff of the old and new RCurl packages but it looks like it just fixes `(char *)` warnings. I think UCSC has been doing some hacking on the website. I had to make a change to parsing a couple months ago.

[2018-01-17 15:09] lawremi commented on #5
I did manage to reproduce it in Linux. The error always occurrs in the upload of the query regions to the table browser. In many cases (like the example above), this is unnecessary, because we can just ask for the whole genome. It looks like there was a bug that prevented that shortcut. With 1.39.5, it no longer attempts the upload in the whole genome case, so it should be more stable.

[2018-01-22 04:52] hpages commented on #5
`getTable()` seems to work again with rtracklayer 1.39.5. Thanks!

[2018-01-29 19:37] hpages commented on #5
Re-opening this issue as the problem actually persists in release (rtracklayer 1.38.3) and devel (rtracklayer 1.39.8) when the query is prepared by calling `ucscTableQuery` with the `names` argument:
[code]
Thanks,
H.

[2018-01-29 20:52] lawremi commented on #5
This is a different POST but I guess the same underlying problem. It is strange that there are failures specific to the client OS. I guess one way to diagnose would be to issue POSTs to a local server and check for variation in the logs. But it could be specific to the UCSC network configuration, or something.

[2018-02-06 13:18] lawremi commented on #5
I've made some optimizations to the table browser to reduce the number of HTTP requests. I can't reproduce the issue with the named feature anymore, at least on linux. The table browser stuff was never really meant to be used for batch downloading, so it's a good idea to move to SQL.

[2018-02-06 13:18] #5 closed

[2018-02-23 10:30] Roleren opened #6 "import.bed"
Thanks for a great package, I just tested import.bed compared to data.table::fread, and the time difference is huge. I looked through the code and I know you need to do some checks from the first line to see what the columns are. But in line 302:
bed <- DataFrame(read.table(con, colClasses = bedClasses,
                                          as.is = TRUE, na.strings = ".",

[2018-02-23 12:01] lawremi commented on #6
How do you suggest that I improve that line? Have you done any actual profiling?

[2018-02-23 14:52] Roleren commented on #6
Yeah, did profiling on ribo-seq:

Rprof()
90% of time is in this function calling:
"scan" "read.table" "DataFrame" ".local" "import" "standardGeneric" "import" "import" "standardGeneric" "import" "import.bed" "standardGeneric" "import.bed"

that is line 302

Problem I think is that its done line by line in R, if I am right..
What would be best would be to:
first load only first line, check which b

[2018-02-23 15:03] lawremi commented on #6
I am pretty sure that is exactly what the code is doing. I don't see a loop over the lines anywhere. No surprise that `read.table()` would take the majority of the time. No easy way to speed it up. I made some gains a while ago by adding buffered reading to R's connections, but it's a long way from the hyper-optimized `fread()` that relies on `mmap()` and other tricks.

But we're not making a GRan

[2018-02-26 12:52] Roleren commented on #6
Yes, I was a bit unclear, my question really is, fread uses a lot of cool stuff, would it take too long to make these fast type parsers into import.bed ?

[2018-02-26 15:07] lawremi commented on #6
You mean just use `fread()` instead of `read.table()`? How much speedup does it get you? How big is your data? Are you sure BED is the right format for it?

[2018-02-28 11:34] Roleren commented on #6
yeah, it works, so this was a timing on one of my smaller files:

# this is with fread and convert to granges:
system.time(ORFik:::cageFromFile(standardRFP))
Read 19272715 rows and 6 (of 6) columns from 0.669 GB file in 00:00:08
   user  system elapsed
 10.972   1.129  12.198

   user  system elapsed
 51.012   2.511  53.505

Difference her is not terrible on small ones, but here is an example on a

[2018-02-28 13:25] lawremi commented on #6
Looks like a decent speedup. I don't want to depend on data.table, though. Base R needs faster table reading...

[2018-02-28 13:59] Roleren commented on #6
Yes, I see that point, but maybe it's time package creators started depending on it ? Big data is coming, and a lot of functions in R are way too slow, you think the best is to wait for R to make a faster version  of read.table ?

[2018-02-28 14:18] lawremi commented on #6
I'm not sure if 5X slower qualifies as "way too slow" when there are often many other bottlenecks, especially in an analysis on 182 million rows. It's a shame that we are stuck with tab-separated files for data of this magnitude.

Also, I'm not really waiting for R to become faster. As a member of R core, I'm trying to motivate myself to do it ;)

[2018-02-28 14:29] Roleren commented on #6
Yeah, I consider it solved then, I'll use my function for now. Good luck with read.table then :)

[2018-02-28 14:29] #6 closed

[2018-05-07 16:46] chrisamiller opened #8 "new issue with UCSC imports"
Looks like there might be a new issue with rtracklayer and UCSC (similar to https://github.com/lawremi/rtracklayer/issues/4)

Link with the full issue details is here: https://support.bioconductor.org/p/108633/#

[2018-05-07 17:08] maximilianh commented on #4
Our mirrors are identical Mysql servers. As far as I know, we haven't changed the refGene table, I think we have never changed since they were released, to avoid problems like this. Let me know if you run into similar problems again.

[2018-05-07 17:53] nbahti commented on #4
Yes, this problem showed up again since last week for me. Two or three
months ago, I fixed it, but can't remember now how I did it.

On 7 May 2018 at 12:24, Michael Lawrence <notifications@github.com> wrote:

[2018-05-07 18:06] maximilianh commented on #4
If you're parsing our html, maybe however wrote the code for that can contact us one day or start a new ticket for a discussion. To import data, there shouldn't be any need for parsing html pages.

[2018-05-07 20:56] lawremi commented on #4
If it showed up last week then it is probably the same as #8, which is fixed. So I think I'll close this issue.

Yes, parsing the HTML is pretty dumb when getting data, and I take all the blame for it. Again, the package began life as a way to programmatically manipulate the browser view. Now it's just used for the once side-feature of getting data.

[2018-05-07 20:56] #4 closed

[2018-05-07 20:59] maximilianh commented on #4
Well, if you ever want this to use the mysql server or some other way (e.g.
we could write a little API on our side), let me know. I'm pretty sure we
can find you a nice SQL query to make it more stable and avoid you having
to patch this the time.

We certainly see many http requests come in with the rtracklayer user
agent. We slow them down if there are too many from the same IP address,
but unti

[2018-07-16 13:37] lalchungnunga commented on #4
Hi,
The following error occur when trying to download hg19 known gene. I am using rtracklayer 1.38.3

Error in names(trackIds) <- sub("^ ", "", nms[nms != "new"]) :
  'names' attribute [212] must be the same length as the vector [211]

[2018-08-03 17:53] lshep opened #9 "exporting twoBit"
Hi @lawremi When generating the ensmebl 93 twobit files for annotationhub I get the following ERROR for some files:

[code]

After speaking with the ensembl helpdesk they informed me of the following:

"We've had a change in policy recently, and have started allowing other
ambiguity codes in our reference files, as they add extra information and are
also vital for working with CRAM files. If you a

[2018-08-03 19:23] lawremi commented on #9
I think we should make it explicit, i.e., Biostrings could have a function that converts all ambiguity codes to just N. Maybe there is already an easy way to do that. Otherwise, there may be confusion.

[2018-08-03 19:33] lshep commented on #9
@mtmorgan and @hpages  thoughts on having the conversion function in Biostrings so it can be implemented elsewhere?   This  particular case specifically involves DNAStringSet -

[2018-08-03 22:29] hpages commented on #9
You could just use `chartr()`:
[code]
Keep in mind that even though the `chartr()` method for XStringSet objects is highly optimized, it will still generate a copy of the DNAStringSet object. I don't know if this matters in the context of preparing 2bit files for AnnotationHub but that's something that could be avoided if C function `TwoBits_write` was doing the replacement on the fly.

Note that:

[2018-08-04 04:49] lawremi commented on #9
Thanks. Might this belong in Biostrings? I could imagine other software wanting a simpler ambiguity encoding.

[2018-08-04 16:34] hpages commented on #9
Done in Biostrings 2.49.1: https://github.com/Bioconductor/Biostrings/commit/b7e3c95e0cc5a89b8d60e19409e0dfbdfdf127ed

Here is the catch though: `chartr()` is a base R verb and the natural thing to use to replace a set of letters with another. If people can think of using that, then they're almost done and something like `replaceAmbiguities()` -- which is a trivial 3-line wrapper around `chartr()`

[2018-08-04 17:04] lawremi commented on #9
One of the motivations is increased clarity. `replaceAmbiguities()` should be clearer than the call to `chartr()`. To enhance discoverability at least for this use case, I will add a reference to the rtracklayer docs.

[2018-08-04 17:16] #9 closed

[2018-08-04 17:16] lawremi commented on #9
Thanks a lot for your help @hpages !

[2018-08-04 18:55] hpages commented on #9
I'm not sure why the `export()` method couldn't do this replacement automatically (with a warning). If that's not an option, then at least the error message could suggest the use of `replaceAmbiguities()`. People don't read man pages, especially in the case of the man page for the `export,DNAStringSet,character,ANY` method which is almost impossible to find for the average user.

Talking about rea

[2018-08-04 19:03] lawremi commented on #9
Sure, thanks for the pointer to `uniqueLetters()`, I've clarified the condition. I also added a reference to `replaceAmbiguities()` to the error message. Good point.

[2018-08-04 19:24] hpages commented on #9
Excellent. Thanks!

[2018-08-26 21:22] LTLA opened #10 "import for BEDPE fails when "optional" columns do not exist"
According to the (official?) description of the BEDPE format at:

https://bedtools.readthedocs.io/en/latest/content/general-usage.html

... only the first 6 columns are required, i.e., chromosome, start, and end for the two regions. However, the `import` function fails on a file with only this minimal information provided:

[code]

Doing a `traceback` gives me:

[code]

... so I presumed it was so

[2018-08-30 22:11] #10 closed

[2018-10-22 10:25] cparsania opened #12 "`rtracklayer` possible memory leakage"
Hi, I have been stretching my head to understand possible memory usage in one of my complex R script. What I found is quite surprising. Using a function `rtracklayer::readGFF()` occupies quite a bit memory (about 400 MB) in the R even without loading the package `rtracklayer`. See the step by step use case and output.

Amount of memory used in fresh R session. (NOTE: No prior package or objects ar

[2018-10-22 14:36] lawremi commented on #12
Maybe @hpages has some ideas?

[2018-10-22 14:38] lawremi commented on #12
Are you sure this isn't just from loading the rtracklayer namespace?

[2018-10-22 15:02] cparsania commented on #12
Yes, Checked on 2 different PCs. Got same output.

[2018-10-22 15:34] lawremi commented on #12
But your example does not isolate calling `readGFF()`, which basically just throws an error immediately, from loading the rtracklayer namespace, which happens as soon as you call any function in the namespace.

Calling `rtracklayer::readGFF()` in a fresh session is going to load the rtracklayer namespace and all of its dependent namespaces, which is a ton of code, class definitions, method metadat

[2018-10-22 18:03] hpages commented on #12
Here is what I get (in a **fresh** R session):
[code]
So yes, as Michael suggested, loading/attaching rtracklayer and all its 20 or so dependencies (direct and indirect) is what consumes about 400 MB of RAM, not calling `rtracklayer::readGFF()` per se. See `sessionInfo()` below for all the packages that are loaded/attached after doing `library(pryr); library(rtracklayer)`. That's an average of 20

[2018-10-23 01:32] cparsania commented on #12
Hi, as @lawremi says, even without attaching/loading `rtracklayer` it occupies ~400 MB of memory from `rtracklayer::readGFF()` see the session info and memory usage.

[code]

I raised this issue because I am working with limited resources (shinyapp.io allows 1GB memory free of charge) and so 400 MB is quite expensive for that. I defined `rtracklayer::readGFF()` within a function and I thought once

[2018-10-23 02:10] hpages commented on #12
You seem to misunderstand what @lawremi said and what I also tried to show you above. When you call `rtracklayer::readGFF()` in a fresh session, this automatically loads the rtracklayer package and its 20 dependencies. That's because you can't use anything from a package without loading its namespace first. So there is no way to do this "without attaching/loading rtracklayer". The action of loadin

[2018-10-23 02:17] cparsania commented on #12
OK. Thank you for detailed explanation.

[2018-10-23 02:17] #12 closed

[2019-01-07 16:23] alfloleo opened #13 "Problem with makeTxDbFromGFF"
I am currently performing a RNA-Seq Analysis for Cucumis melo and I am currently trying to load the annotation using makeTxDbFromGFF() from a GFF3 file. When i check the TxDb object created using seqinfo(txdb_object) the only thing that appears in the columns are <NA>. I have read from a post:

https://support.bioconductor.org/p/104198/

that the problem can be due to rtracklayer::import.gff3(). I

[2019-01-07 18:58] lawremi commented on #13
What do you expect to happen? If the file does not specify any sequence-level information (lengths, genome) the information won't be in the returned object.

[2019-01-09 01:58] LTLA opened #14 "import() leaves open file connections"
A simple example with the latest BioC-devel version:

[code]

This is causing local CHECK failures for _diffHic_, as R complains about open file connections.

<details>
<summary>Session information</summary>

[code]
</details>

[2019-01-09 06:43] lawremi commented on #14
In order to keep the internal code simple, the connections are managed via finalizers, so when the garbage collector runs, the connections are cleaned up. This is pretty baked into the design of the package now, so it would be tough to change. I guess this is new R CMD check behavior, and it is going to cause many packages to fail. Every import method could just invoke the GC on exit, but I wish t

[2019-01-09 11:09] LTLA commented on #14
Hm. Sounds problematic. If it helps, this is what I see from `R CMD check`ing _diffHic_:

[code]

[2019-01-10 06:04] Shians commented on #14
I occasionally get bitten by this, and from my understanding it's from a new check discussed [here](https://stat.ethz.ch/pipermail/r-package-devel/2018q3/003051.html) and added [here](https://github.com/wch/r-source/commit/a8e5f6e02a373fd41f775c3b42f490573467919c) and [here](https://github.com/wch/r-source/commit/f06b6ba9e3b080c4550805f2747ccd3f3d00523d). Doesn't seem like they want to change the

[2019-01-10 07:51] LTLA commented on #14
So it looks like this change to R-devel is intentional. Great, just great.

As it currently stands, all packages downstream of _rtracklayer_ would have to `\dontshow{gc()}` at the end of their examples. And all their downstream packages would have to do the same, and so on...

That sounds horrible.

[2019-01-10 20:48] lawremi commented on #14
Agreed. The rtracklayer approach was a hack, and it's been caught. Connections are a finite resource, so they should not be left to asynchronous garbage collection driven by memory constraints. I'm not looking forward to changing rtracklayer, but I'm not sure there is another way.

[2019-01-11 22:52] lawremi commented on #14
Ok, rtracklayer 1.43.2 should avoid leaving connections open. This took some pretty major surgery, so I'm sure there will be issues.

[2019-01-11 22:52] #14 closed

[2019-01-15 23:55] FaustFrankenstein commented on #13
Hey there,

I am facing the same issue.
Out of the bunch of genomes I have at hand, I have chosen a circular chloroplast genome ( no chromosomes ) for the sake of simplicity.

[Cre.CP.annotations.gff3.gz.zip](https://github.com/lawremi/rtracklayer/files/2761934/Cre.CP.annotations.gff3.gz.zip)

Addressing the original question of how to fix it - since the first line
"Cp	.	region	1	205535	.	.	.	ID=C

[2019-01-22 15:57] HajkD opened #15 "readGFF() has problems when facing too long lines in imported gff file"
Hi @lawremi,

First of all thank you so much for developing such a useful tool.
I recently started using `rtracklayer` and truly appreciate your efforts in developing this great package.

While using `rtracklayer` for some plant species I stumbled upon an issue when
trying to import the NCBI RefSeq `gff-file` of `Arabidopsis thaliana`.

See example below:

[code]
The traceback looks as follows:

I

[2019-01-22 18:12] lawremi commented on #15
Perhaps @hpages could help here, as he wrote the optimized GFF reading.

[2019-01-22 23:40] FaustFrankenstein commented on #13
I have found a workaround resolving my issue, although not advisable for assemblies exhibiting many chromosomes, scaffolds, or consisting merely of contigs, if their attributes names, lengths or circularity are not easily accessible.

cp.chrominfo <- data.frame(chrom = c('Cp'), length =c(205535), is_circular=c(TRUE) )
txdb.cp <-makeTxDbFromGFF( chrominfo = cp.chrominfo, ...)

So, I simply loaded t

[2019-01-22 23:51] lawremi commented on #13
Probably better to construct a _Seqinfo_ object and then set that on the result.
[code]

We could try to infer the sequence universe from the "region" rows in the GFF, but it would still be a heuristic, and it's always best to explicitly set the full specification of the universe. Note that for common genomes (those present in the UCSC browser), you can just call e.g. `Seqinfo(genome="hg38")` to a

[2019-01-23 00:08] FaustFrankenstein commented on #13
Thanks for the two hints.
Well, I am not using UCSC genomes, do not know whether `makeTxDbFromUCSC ` ran into the same issue, though.
Anyhow, more interestingly, the assignment `seqinfo<-` is not working, returning

  unable to find an inherited method for function ‘seqinfo<-’ for signature ‘"TxDb"’

[2019-01-23 00:15] lawremi commented on #13
I guess that's not supported, but I think you can just pass the _Seqinfo_ to the `chrominfo=` argument, like
[code]

[2019-01-23 00:18] FaustFrankenstein commented on #13
Ah ofc ! (facepalm)
Thumbs up!
Very kind of you.

[2019-03-18 16:15] FelixErnst opened #16 "Inconsistancy with export.wig depending on type of 'object'"
Hi,

I just noticed a bit of an inconsistancy when using `export.wig`

[code]

`test.out1` is of type `WIGFile `, whereas `test.out2` is `NULL`. The reimport works as will, so I am not sure, why the result in the second case should be `NULL`.

Is this expected and I am missing a point or is it a bug?

[2019-03-18 17:57] lawremi commented on #16
Thanks for catching that. I've fixed it in trunk.

[2019-03-18 17:57] #16 closed

[2019-07-08 10:49] borauyar opened #17 "export.bw consumes unusual amount of memory"
Hi,

I have a memory consumption problem with `rtracklayer::export.bw` function.

I have a RleList object of size ~320 MB, which I obtained by running `GenomicAlignments::coverage` function on a BAM file to get genome wide coverage scores of an RNA-seq experiment (the target is human genome).

Then, I would like to export this RleList object to a bigwig file, however, it takes up too much memory.

[2019-07-08 16:54] lawremi commented on #17
Please try passing `fixedSummaries = TRUE`.

[2019-07-08 17:18] borauyar commented on #17
@lawremi thank you very much. This decreased the memory consumption to ~38 GB, but the size of the bigwig file increased from 125MB to 2.8GB. Is that memory and disk space consumption normal for an RleList object of 320MB?

[2019-07-10 02:25] lawremi commented on #17
Doesn't seem normal. You seem to have found a pathological case somehow. What happens when you export to wig and use `rtracklayer::wigToBigWig()`? rtracklayer is mostly using the Kent library under the hood, so there's not a lot of knobs to tweak.

[2019-07-10 08:15] frymor opened #18 "listData became an unnamed list"
Hi,
When importing a bigwig file using the `import.bw` command I ususally get a named list in my `listData` slot of the object.
But in my latest version (1.44.0), the slot contains an unnamed list.

can you please correct it? Or is there a special reason for it to be unnamed?

thanks
Assa

In rtracklayer version **1.38.3** the objkect has the names of the chromosome in a list

[code]
But in a diff

[2019-07-10 09:09] lawremi commented on #18
Please provide a reproducible example.

[2019-07-10 09:25] frymor commented on #18
Here is an example

[code]

with version 1.38.0 it looks like that:

[code]

but with the new version

[code]

[2019-07-11 03:17] lawremi commented on #18
Should be fixed in 1.44.1 (release) or 1.45.2 (devel). Thanks!

[2019-07-11 03:17] #18 closed

[2019-07-11 10:41] borauyar commented on #17
I tried exporting to bedgraph and converting to bigwig using `rtracklayer::wigToBigWig` function and it consumed the same memory. Then I tried using the wigToBigWig tool from UCSC Kent utils, that also consumed the same memory.

Can something be wrong with the RleList object? I just created it using `GenomicAlignments::coverage` function on a GAlignments object, which was imported from a BAM file

[2019-07-11 11:38] lawremi commented on #17
When you say that `wigToBigWig()` consumes the "same memory" do you mean that it consumes the same amount of memory as `export.bw()`? If so, then there's probably little we can do but accept that bigwig is a somewhat expensive format to write and store. It's great for accessing and getting summaries from though.

[2019-07-11 11:49] borauyar commented on #17
Yes, exactly. Both `rtracklayer::wigToBigWig` and the UCSC's `wigToBigWig` consume as much as `rtracklayer::export.bw`. So, I guess, we have to accept the fact that it is a memory intensive job :)

[2019-08-08 03:20] tdhock opened #19 "generating track hubs with bigBeds?"
Hey @lawremi one of my packages currently depends on ucsc command line programs, and I would like to drop that dependency to make it more portable, https://github.com/tdhock/PeakSegPipeline/issues/15

two questions.

1. is it possible to create a track hub using rtracklayer? currently I am manually generating the track hub meta-data files (hub.txt, genomes.txt, trackDb.txt) and I was wondering if

[2019-08-08 05:57] lawremi commented on #19
Neither of those things are supported. Track hubs would be a nice feature; I just haven't used them yet. Please feel free to contribute if you have something.

BigBed is a pretty heavy format to support. Most of the time a tabixed BED suffices. Have you considered that?

[2019-08-08 06:32] tdhock commented on #19
The UCSC track hub docs does not list tabixed BED as a supported file format genome.cse.ucsc.edu/goldenPath/help/hgTrackHubHelp.html so I don't think it is possible to display on a track hub.

[2019-08-08 20:32] tdhock commented on #19
both projects would make good Google Summer of Code projects for students next year, I think. Have you ever participated in GSOC? Would you be willing to co-mentor a student with me next year?

[2019-08-09 07:50] lawremi commented on #19
Yes. Sure. It's really too bad that they don't generally support tabix. They already support it for VCF. I wonder if it's worth approaching UCSC about that.

[2019-08-09 15:39] tdhock commented on #19
Do you know anyone at UCSC you could ask? I don't have very good luck asking UCSC for feature requests...

I created a web page describing the project for next year's GSOC. https://github.com/rstats-gsoc/gsoc2020/wiki/rtracklayer-improvements please feel free to add details and edit as you like. In particular could you please write something in the "tests" section? Tests are mini tasks that we can

[2019-08-12 17:57] lawremi commented on #19
I reached out to UCSC but they seem content with the existing features.

Thanks for putting together that proposal. I don't recall whether those proposals compete with others, but we could embellish the language a little, particularly around the impact of improving a core package like rtracklayer.

UCSC also recently added an API for accessing data that we have so far retrieved via awkward interac

[2019-08-12 18:52] tdhock commented on #19
too bad about the feature request, that is what I expected.

for the data access API idea, please add to that wiki page if you think it falls under the theme of "rtracklayer improvements" otherwise if it is quite different then feel free to make a new wiki page.

the proposals do compete with others, but the primary challenge is finding a good student; usually if we get a good student who writes a

[2019-08-13 18:58] lawremi commented on #19
I updated the proposal.

[2019-08-13 19:32] tdhock commented on #19
looks good, let's hope to hear from some interested students around the application period (Jan-Mar 2020)

[2019-09-03 12:11] MalteThodberg opened #20 "New change to import.bw causes issue when importing specific regions?"
Just came back from vacation to a build error in the CAGEfightR package that depends heavily on the rtracklayer package for BigWig IO.

I think I've tracked down the issue to this small example that used to work:
[code]

It gives an error related related to the naming of the seqlevels, which I haven't seen before:

Error in GenomeInfoDb:::makeNewSeqnames(x, new2old = new2old, seqlevels(value)) :

[2019-09-03 18:52] lawremi commented on #20
Please try GenomicRanges 1.37.15 and rtracklayer 1.45.5.

[2019-09-04 08:11] MalteThodberg commented on #20
I will have a look once the new versions make it into devel!

[2019-09-06 08:40] MalteThodberg commented on #20
Hello again @lawremi ,

Forgive me, but I'm a bit confused now:

The build error was resolved on the BioC devel branch (although a new one popped up).

However, the same build error still persists on the current stable branch 3.9.

Were the breaking changes to rtracklayer committed directly to the stable branch? In that case, will you also add the bug fix there?

[2019-09-06 14:48] lawremi commented on #20
Just ported stuff to release.

[2019-09-06 14:48] #20 closed

[2019-09-22 05:00] DarioS opened #21 "Some GENCODE Genes IDs Not Faithfully Imported"
The most recent version includes some weird identifiers such as ENSG00000002586.20_PAR_Y which are truncated to ENSG00000002586.20 by `readGFF`, EMBL staff are [unsure if these are mistakenly included or by design](https://www.biostars.org/p/398174/#398196), so it's unclear if rtracklayer should handle them or not.

[2019-09-22 05:29] lawremi commented on #21
@hpages Shouldn't `readGFF()` handle `_` in IDs?

[2019-09-23 17:00] hpages commented on #21
@lawremi , I don't see any reason why it shouldn't. And I thought it did e.g. with `test.gff`:
[code]
I get:
[code]
@DarioS , reproducible example and session info please?

Thanks,
H.

[code]

[2019-09-24 06:00] DarioS commented on #21
My confusion arose because of `ID=ENSG00000002586.20_PAR_Y;gene_id=ENSG00000002586.20`. They are the same for almost every other gene in the GENCODE Genes file.

[2019-09-24 06:00] #21 closed

[2020-05-14 06:53] RoelKluin opened #23 "import.chain refuses chain file with spaces instead of tabs"
Chain files from here use spaces in the rows after the header; USCS chain files use tabs:
ftp://ftp.ensembl.org/pub/assembly_mapping/homo_sapiens/

consequently import.chain does not work:
[code]

it would be nice if the import.chain method would work with spaces as well.

Until then converting spaces to tabs before the import works (in bash):
[code]

[2020-06-02 01:18] sanchit-saini opened #24 "GSoC 2020 : Track Hub feature doubts"
Hi @lawremi @tdhock
I have a few doubts regarding the design and behavior of `TrackHubGenome` class in `rtracklayer`. Currently, it represents hierarchical tracks like this:
[code]
Above expression can go deeper if child track has another child track in it something like :
[code]
so doubts are:
1.  How hierarchical tracks should be represented in `rtracklayer` interface?
     (do we need to mainta

[2020-06-02 17:09] tdhock commented on #24
1. I would just use the names / character strings to represent the hierarchy, as in the track hub file. here is an example from https://github.com/tdhock/nc/blob/master/inst/extdata/trackDb.txt.gz?raw=true
[code]
in R you could represent this as a data table with 4 rows (one for each track) and two character columns (track/parent).

[2020-06-02 17:59] lawremi commented on #24
What @tdhock suggestions is a good idea. Other options include: just making a nested list structure (which might map to how the user wants to navigate the structure anyway) or using the graph package or a similar package to represent the tree (downside is that it introduces a dependency).

[2020-06-30 20:53] drosophila92 commented on #5
Hi @lawremi

I'm following a GWA tutorial by [Reed et al., 2015](https://onlinelibrary.wiley.com/doi/full/10.1002/sim.6605) and learning how to make regional association plots for candidates SNPs around CETP gene locus. Query "uc002eki.2" and"uc002ekj.2" can be retrieved directly from UCSC genome browser and seem to be two haplotypes of CETP.

However, I also have problem with getTable()  - it ret

[2020-07-06 21:24] lawremi commented on #5
Please make this a separate issue. It would help to see your `sessionInfo()`, because I don't get the bad request error. It looks like data for the entire genome is returned, however, so something is not right. This summer we will be rewriting the table browser to use the new UCSC REST API, which should be a lot more robust.

[2020-07-07 17:05] dvantwisk opened #25 "Changes to rtracklayer for upcoming BiocIO package"
Hi @lawremi
I've completed a package named `BiocIO` https://github.com/Bioconductor/BiocIO. The purpose of this package is to migrate high level IO functionality from rtracklayer. This most notably includes the `BiocFile` class (was `RTLFile`) and the `import` and `export` generics.

I've created a branch of rtracklayer that modifies the package accordingly https://github.com/dvantwisk/rtracklayer

[2020-07-07 17:18] lawremi commented on #25
Sounds interesting. I would have been happy to participate in this effort earlier. Please submit a pull request and we can iterate through that.

[2020-07-07 17:23] dvantwisk commented on #25
Done. https://github.com/lawremi/rtracklayer/pull/26

[2020-07-07 18:50] drosophila92 opened #27 "getTable() produces a Bad Request error"
Hi @lawremi

I'm following a GWA tutorial by Reed et al., 2015 and learning how to make regional association plots for candidates SNPs around CETP gene locus. Query "uc002eki.2" and"uc002ekj.2" can be retrieved directly from UCSC genome browser and seem to be two haplotypes of CETP.

However, I also have problem with getTable() - it returns the same "Bad Request" error when I tried to get some UCS

[2020-07-09 18:44] sanchit-saini commented on #24
Thanks for all the help and suggestions.
I'm closing this as it is resolved now.

[2020-07-09 18:44] #24 closed

[2020-07-14 21:59] mcneney commented on #27
FWIW, I can reproduce the error on my Linux laptop with R 4.0.2:

R version 4.0.2 (2020-06-22)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.4 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/libopenblasp-r0.2.20.so

locale:
 [1] LC_CTYPE=en_CA.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_CA.UTF-8        LC_COL

[2020-07-21 01:08] charles-plessy opened #29 "export.bw() fails on a GPos object but succeeds if converted by GRanges() first."
Here is a [link to a GPos object](https://www.dropbox.com/s/ai9itm586clt4y9/gp.Rds?dl=0) that makes the `export.bw()` crash with an error such as:

[code]

Bisecting the object did not isolate a problematic part, and removing enough entries at the head or at the tail suppressed the error.

Just converting with a call to `GRanges()` entirely solves the problem, but it would be nice to not have to d

[2020-07-23 20:23] #29 closed

[2020-07-24 10:11] sklas opened #30 "export to bam error"
Hi,

I am not sure if this is related to rtracklayer or Rsamtools.
After updating to R 4.0.2 I am not able to export to bam anymore.
It raises an error and writes an empty bam file:

`[W::sam_read1] Parse error at line 2`

Usually I modify the GAlignments object, but the unchanged object does also not work

[code]

[2020-07-24 15:05] lawremi commented on #30
Do you have an example BAM file to reproduce this?

[2020-07-27 06:41] sklas commented on #30
Sure.
[testBam.tar.gz](https://github.com/lawremi/rtracklayer/files/4980345/testBam.tar.gz)

And this is my sessionInfo()

[code]

[2020-07-31 02:42] drosophila92 commented on #27
any update on this?

[2020-08-06 20:35] #30 closed

[2020-08-20 19:56] mcneney commented on #27
A user of the LDheatmap package that depends on rtracklayer reports that queries with ucscTableQuery succeed if you omit the names argument.

[2020-08-20 20:23] lawremi commented on #27
Unfortunately, I'm unable to reproduce this. Within the next few months, the entire table browser client will be replaced (internally) by a client to the UCSC REST API, so this bug will soon be obsolete.

[2020-08-20 22:18] mcneney commented on #27
Thanks for the update.

[2020-08-24 02:47] christyvj commented on #29
I am also getting this message when I use CAGEr  exportCTSStoBedGraph(). I am new to analysing CAGE data and was wondering if you wouldn't mind sharing the code for using GRanges() as a work around? Thank you.

[2020-09-10 18:23] lawremi commented on #19
This was fixed by #22. See https://github.com/lawremi/rtracklayer/blob/master/man/TrackHubGenome-class.Rd for some documentation.

[2020-09-10 18:23] #19 closed

[2020-09-10 19:27] lawremi commented on #19
A vignette is a good idea. I'll bring that up with Sanchit at our next meeting. For right now, see the examples in the Rd files.

[2020-10-13 14:54] ScottNortonPhD opened #32 "Hardcoded openssl version requirement conflicts with Mac Homebrew"
Mac Homebrew has deprecated openssl 1.0.0 in favor of 1.1.0. This means that the older version of the library is substantially harder to acquire. Unfortunately, rtracklayer seems to have hardcoded the openssl-1.0.0 version dependency, so replacing it with 1.1.0 (which is required by other Homebrew packages) causes rtracklayer to break when trying to load. Everything that depends on rtracklayer bre

[2020-10-13 15:28] lawremi commented on #32
It's not hard coded to use 1.0, but it is linking the shared object to 1.0, which is then not found at runtime. You might look around for a stray libssl 1.0, such as in `/usr/local/lib`.

[2020-10-20 02:02] nathanhaigh opened #33 "cannnot determine start/end columns when GFF attributes contain start and/or end"
I have a GFF file derived from GeMoMa output. When these GFF files are loaded with `import()`, the following error occurs:

[code]

I believe the issue lies with the fact that GeMoMa outputs GFF attributes with the name `start` and `stop` to indicate the start and stop codons identified/detected. As such, multiple columns are called `start` and `stop` and so the above error is thrown.

[2020-10-20 21:15] lawremi commented on #33
Thanks for the report.  Given that `makeGRangesFromDataFrame()` is a heuristic, we could change it to select the first columns named "start" or "end" as the columns defining the ranges. Or, given that `readGFF()` already knows which columns define the ranges, it could construct the GRanges directly, without any ambiguity. Of course, you probably want to rename the "start" and "end" metadata column

[2020-10-20 22:41] nathanhaigh commented on #33
Indeed, my workaround is to rename them `start_codon` and `end_codon` respectively.

[2020-12-07 18:47] sanchit-saini opened #35 "bug: browseGenome() fails to open UCSC genome browser without any arguments"
[code]
[code]

[2020-12-23 12:03] lshep opened #36 "New Bioc devel changes breaking many packages -- is this intentional?"
@lawremi
cc @hpages

Possibly related to:  https://github.com/lawremi/rtracklayer/pull/31

We are seeing many new errors on the build report:

` could not find function "RestUri"`  (affecting at least:  DeepBlueR, DMRcate, ELMER, ensembldb, Gviz, MEAL, methyAnalysis, missMethyl)    and many along the forms of
`error in evaluating the argument 'object' in selecting a method for function 'getTable`

[2020-12-23 12:17] lshep commented on #36
also ... and feel free to email me the information -- what is your currently active email? -- multiple package descriptions have a mixture of 3 different emails and I'm not sure if you are receiving notifications.

[2020-12-24 02:08] lawremi commented on #36
Thanks for the heads up. I moved restfulr from Depends to Imports (missed that in the PR). That should fix some errors. I will look into the rest over the long weekend.

I wonder if there would be an easy way for us to move the changes to a branch and then automatically run Bioc tests against that branch, as this is turning out to be more disruptive than expected. That would be beyond my level of

[2020-12-24 23:54] sanchit-saini commented on #36
@lawremi  All left errors are the result of improper call to`ucscTableQuery` method according to updated changes.
During the migration process, the significance of the `track` parameter was dropped and the `table` parameter was made mandatory for calling the `ucscTableQuery` method.

I think a lot of the packages are calling the `ucscTableQuery` method with positional arguments and without the `ta

[2020-12-26 13:01] lawremi commented on #36
Hi @sanchit-saini , thanks for the fast response. So if memory serves, it was impossible to get a default table for a track with the new REST API, because the new REST API does not have a "track" concept. Perhaps we could keep a little bit of the table query interface around that gets the default table for a track. It would issue a deprecation warning, giving all of these packages a chance to upda

[2020-12-28 18:53] sanchit-saini commented on #36
Hi @lawremi ,
I think we can
1. Make a request to table browser with the genome and group to retrieve all tracks for a genome.
e.g: Let's say the user specifies Assembly track in the `ucscTableQuery`, so to retrieve equivalent mapping of track value(gold in this case ) for next request, it issues a request :
[http://genome-euro.ucsc.edu/cgi-bin/hgTables?db=hg18&hgta_group=allTracks](http://genome-

[2020-12-29 15:53] lawremi commented on #36
Sounds great. What is the reason for retrieving all of the tracks? Is that because the user is requesting tracks by name instead of by the internal identifier? Otherwise, I guess it would be sufficient to look for the default table and throw an error if it fails (presumably because the track is not found).

[2020-12-29 19:27] sanchit-saini commented on #36
Yes, for retrieving internal identifier from the track name.
Okay, I will create a PR for this.

[2021-01-04 18:40] mtmorgan opened #38 "RELEASE_3_12 failures on Windows means that 1.50.0 is not propagating"
http://bioconductor.org/checkResults/release/bioc-LATEST/rtracklayer/tokay1-checksrc.html

[2021-01-04 20:27] lawremi commented on #38
@sanchit-saini seems related to the track hub stuff. Thanks for taking a look.

[2021-01-05 19:20] lawremi commented on #36
I just pushed some commits to consolidate my emails (they should all work). I only found two variants (ignoring the deprecated exploRase). Thanks for bringing that to my attention.

[2021-01-06 22:42] sanchit-saini commented on #36
Hi @lawremi,
I tested all the affected packages and update the patch accordingly.
It seems to work as expected for most of the packages.
But  `GenomicFeatures` and `coMET` require special attention.

#### For `GenomicFeatures` package:
- it makes a call `ucscTableOutputs()` which is already removed from the codebase.
https://github.com/Bioconductor/GenomicFeatures/blob/9a087c6df2f8d903200b936eee89

[2021-01-07 00:00] lawremi commented on #36
Thanks. I think the GenomicFeatures usage of the internal `ucscTableOutputs()` is obsolete, since they can now simply ask for the `tableNames()` and know all of the valid tables, and I agree they should use the formal schema instead of an example output for determining the output types. @hpages might comment.

I'm guessing that `gm12878Insitu` track stored in the [interact format](https://genome.u

[2021-01-12 17:55] lshep commented on #36
@lawremi  Is the PR good to go to resolve the other packages that are currently failing?

[2021-01-12 18:01] lawremi commented on #36
Waiting on one minor tweak that I had expected to be done today. Very close.

[2021-01-12 18:26] lshep commented on #36
There also seems to be a large number of packages failing with a message similar to
[code]

[2021-01-12 20:13] sanchit-saini commented on #36
Hi @lawremi @lshep  yes, it should be completed by today.

@lshep Can you provide the name of some packages that are affected by this?

[2021-01-12 20:19] lshep commented on #36
Lets hold off to see if many clear up.  The main offender was Gviz but I think he might have already implemented a change.

[2021-01-13 00:15] sanchit-saini commented on #36
Hi @lawremi, I pushed the updated changes, Can you review them?
if anything requires further changes I'm happy to help.

[2021-01-13 00:59] lawremi commented on #36
Thanks, Sanchit. I submitted a review of the PR. Just simple tweaks.

[2021-01-13 20:29] sanchit-saini commented on #36
Done, I think now we can merge these changes.

[2021-01-13 21:53] lawremi commented on #36
Indeed, thanks a lot for the fast turnaround @sanchit-saini. Just merged and pushed over to the Bioc git.

[2021-01-26 00:24] hpages commented on #36
Hey @lawremi , @sanchit-saini , do you think one of you could fix [GenomicFeatures](https://bioconductor.org/checkResults/3.13/bioc-LATEST/GenomicFeatures/malbec2-checksrc.html), or submit a PR for it here: https://github.com/Bioconductor/GenomicFeatures? Thanks

[2021-01-26 15:23] sanchit-saini commented on #36
Sure, I will create a PR.

[2021-02-12 17:25] Krithika-Bhuvan opened #41 "Example from section 5.3 in your vignette not working"
We are trying to obtain cytoband location and stain information (track names = cytoBand and cytoBandIdeo. Track numbers are 41, 41) from your package

We used the example from section 5.3 in your vignette, and tried this :.
[code]
Chromosome Band (Ideogram)
                        42
[code]

[2021-02-13 18:37] sanchit-saini commented on #41
Hi @Krithika-Bhuvan
#### For Trial 1:
I ran your provided code, and it worked smoothly for me.
Also, I run a benchmark on it, overall it did not take longer than a minute to finish it.

[code]
In this case, it took 40ish seconds to complete it

#### For Trial 2:
You provided `track` with a character vector of length two.
In `ucscTableQuery`, `track` must be a single string.
In this case, `ucscTabl

[2021-02-17 01:48] Krithika-Bhuvan commented on #41
Hello, thanks for checking and for the quick response . I did some more testing . The code works fine for older version of R/BioC, but not the upcoming new version of R /BioC

Question - Can you please provide a workaround so the code will work for the new version ?

Test # 1: R version 3.6 : works fine

[code]

Test # 2 : R version 4.1 (this is testing for the upcoming BioC and R release)
[code]

[2021-02-18 23:15] sanchit-saini commented on #41
It is not working as it is the cycle of being deprecated.
For now, you can use this:
[code]
But soon queries will only work with the `table` name instead of the `track` name.
You can use `ucscTables("hg19", "cytoBandIdeo")` to get a list of tables for a `track` and use relevant `table` name(instead of `track`) for all future queries. (This will only in the upcoming branch).

[2021-02-23 16:33] Krithika-Bhuvan commented on #41
Thank you. Are these changes committed to latest Bioconductor build ? This code change in your package is affecting our package as well which is not building at this time.  Is there a way for us to test your new code in R 4.1 ?

I tried the following code in R 4.1 `ucscTables("hg19", "cytoBandIdeo")`. But it only says `"cytoBandIdeo"`.

[2021-02-24 12:56] sanchit-saini commented on #41
Yes

[code]
After these steps, you can play with the latest rtracklayer features.

It means there is only one table for the `cytoBandIdeo` track that is named `cytoBandIdeo`.
There are cases in which track name and table name are identical, Yeah it is a bit confusing.

[2021-02-24 15:24] Krithika-Bhuvan commented on #41
Thank you for the explanation. Its starting to make sense, but I still don't understand how to extract the contents of the track/table. The result of this `ucscTables("hg19", "cytoBandIdeo")` is a character string with the name of the track.

We are looking to extract the information inside the cytoBandIdeo track/table. It contains the following information:
```Chromosome number, Chr Start Positio

[2021-02-24 19:05] sanchit-saini commented on #41
[code]

[2021-02-24 19:14] Krithika-Bhuvan commented on #41
Excellent. Thank you so much ! Closing this issue now

[2021-02-24 19:14] #41 closed

[2021-03-04 02:38] vjcitn opened #42 "import.bb failing for certain web-hosted bigBed"
[code]
When this content is retrieved to local system, import.bb can import it.  I have also succeeded with
import.bb for bigBed content in NCBI ftp.    Efforts to debug bbiFileOpen.c are not working out so far.
Any hints appreciated.
[code]

[2021-03-04 17:43] sanchit-saini commented on #42
The kent library does all the heavy lifting of the managing resource. rtracklayer relies on it and provides an interface for bigBed format.

In your case URL is redirecting to other URL
[code]
[bigBedFileOpen](https://github.com/lawremi/rtracklayer/blob/9221c8e8e7086940eca43f5a78ee35535a82ab74/src/ucsc/bigBed.c#L26) -> [bbiFileOpen](https://github.com/lawremi/rtracklayer/blob/9221c8e8e7086940eca43

[2021-03-04 20:13] lawremi commented on #42
Good idea to do it at the R level. It would probably be a bit cleaner to just use the HTTP `HEAD` command so that you just get the header. Probably worth engaging with the UCSC people on this. I would be surprised if the Kent library does not support redirects.

[2021-03-08 18:50] vjcitn commented on #42
Thanks @sanchit-saini this is really helpful.  Will this change go into rtracklayer in devel?  Do we need to
engage with UCSC or is that something you will do?  Feel free to close issue if ready.

[2021-03-09 12:52] sanchit-saini commented on #42
Yes, but only if UCSC folks fix the URL redirection issue.

Yes, last week It was not certain that kent library was responsible for the issue. As the patch was created quickly so it was possible integration was not perfect. Just to be sure, I Isolated `udcFileMayOpen` function to test and now I'm certain kent does not handle URL redirection properly even with the v411 release.

[2021-03-10 09:12] sanchit-saini commented on #42
Hi @vjcitn,
The issue here is the server is not responding properly to HEAD requests.
If the server responds with the proper redirect HTTP status code then this should work fine.
more details : https://github.com/ucscGenomeBrowser/kent/issues/53#issuecomment-794337113

And for integration of URL redirection feature with rtracklayer.
I'll make new clean integration it might be finished by this week

[2021-03-29 16:07] sanchit-saini commented on #36
I think this issue can be closed now as all the affected packages are not failing because of rtracklayer.

[2021-03-29 16:09] sanchit-saini commented on #42
This issue can be closed now as change had been integrated so URL redirection should work.

[2021-03-29 16:22] vjcitn commented on #42
Immense thanks!

[2021-03-29 16:22] #42 closed

[2021-03-29 16:47] #36 closed

[2021-04-07 13:01] ravolio opened #44 "Installation problem for R devel (4.1) on Windows"
Hi,

I am having problems trying to install rtracklayer devel version on Windows.
From what I have seen, this is a general problem related to the Windows OS, right? Do you expect to fix the problem anytime soon?

Thank you,
Rosario

[2021-04-08 07:24] hpages commented on #44
[This line](https://github.com/lawremi/rtracklayer/blob/d5321c719b9a803597eca51bf854017181f4bea2/src/ucsc/udc.c#L46) (introduced at commit d5321c719b9a803597eca51bf854017181f4bea2) breaks the package on Windows:

https://bioconductor.org/checkResults/3.13/bioc-LATEST/rtracklayer/riesling1-install.html

We didn't see a catastrophic chain reaction (hundreds of packages depend directly or indirectly

[2021-04-08 10:28] sanchit-saini commented on #44
Thanks @hpages for looking into the issue.
I'm working on it and will try to fix it ASAP.

[2021-04-13 17:16] #44 closed

[2021-05-05 00:22] sa-lee opened #48 "Connection errors on Windows on R4.1"
Hi @lawremi, I'm getting [test errors on Windows](http://bioconductor.org/checkResults/devel/bioc-LATEST/plyranges/riesling1-checksrc.html
) for plyranges. I think it's based on the uri schema on windows https://github.com/sa-lee/plyranges/commit/9fc90f1250c35eafdec743d97e8037ddc93bcce3, which I've now changed. (I basically used the same test suite you had in rtracklayer for these functions). I no

[2021-05-05 02:06] #48 closed

[2021-05-14 19:56] elaplant opened #50 "“ucscCart” object: superclass "characterORconnection" not defined"
I’m trying to use rtracklayer 1.48.0 to search UCSC genome browser tables. When I try to set up the session and then add the appropriate genome I get an error:

Session info below:

R version 4.0.0 (2020-04-24)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United

[2021-05-15 14:22] sanchit-saini commented on #50
Hi @elaplant
This issue will get fixed in the upcoming release that is on 20 May(Bioconductor 3.13). BiocGenerics contains the `characterORconnection` which was renamed to `character_OR_connection`. Effectively it was also renamed in the rtracklayer package. But because of failed checks, it wasn't propagated on the Bioconductor.

[2021-05-15 14:48] lawremi commented on #50
@sanchit-saini is there some way for us to fix this now, instead of waiting for the release?

[2021-05-15 15:08] sanchit-saini commented on #50
@lawremi  For now, I think the user can declare class union themself after importing rtracklayer with
[code]

[2021-05-15 15:24] lawremi commented on #50
How long will it take for the updated rtracklayer to propagate to the Bioconductor repository?

[2021-05-15 15:47] sanchit-saini commented on #50
It is already present in the Bioconductor devel branch and I think this branch will be used for the next release. So therefore it will be propagated on 20 May.

[2021-05-17 13:52] elaplant commented on #50
Setting the class union works so I'll be able to use that until the update. Thank you!

[2021-05-17 13:52] #50 closed

[2021-05-29 13:54] Shicheng-Guo opened #51 "seqnames, ranges and strand cannot be extracted from gtf"
Here is what I found: seqnames, ranges and strand cannot be extracted from gtf. Any suggestion?
[code]
interesting, 60666 items only have gene ID without transcript ID, why?
[code]

[2021-06-01 17:59] lawremi commented on #51
`import()` returns a GRanges object, so please check its documentation for retrieving those files (using accessors).

[2021-06-01 17:59] #51 closed

[2021-06-09 20:08] Codezy99 opened #52 "About a windows only bug"
Hi @lawremi,

I am developing a Bioconductor package (m6Aboost) and I meet a windows only bug when I submit the package to bioconductor. The error message looks like this:

[code]
I have tested the package on my windows machine, but it did not give me any error. I think the maintainer of "karyoploteR" package also met this issue. And the issue that he reported could be found in this link:
[https:/

[2021-06-09 20:47] lawremi commented on #52
Perhaps @sanchit-saini has the time to look into this. Support for reading bigwigs on Windows is probably still a bit shaky.

[2021-06-10 16:54] sanchit-saini commented on #52
Sure I will look into it.

[2021-06-16 11:28] ericblanc20 opened #53 "invalid class “GFF2File” object"
Hi,

I get an error trying to read gif files using `rtracklayer::import(< gtf file>, format="gtf")`. The same error occurs when I don't specify the format.

[code]

My system is as shown below:

[code]

The gtf file is below, it is taken from [the reference provided in the `GFFFile-class` help page](http://mblab.wustl.edu/GTF22.html), so I assume it is correct. It is given below:

[code]

Is there

[2021-06-16 14:50] lawremi commented on #53
I'm guessing this will go away after updating to R 4.1.0 and the latest version of Bioconductor.

[2021-07-15 12:35] pcantalupo opened #54 "import() does not handle multiple tag attributes"
Hello, I'm trying to import the following very simple GTF file with 1 line (comes from Gencode v38 GTF [here](http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_38/gencode.v38.annotation.gtf.gz)) that has multiple `tag` attribues:

[code]

When I `import` it into R, only the last `tag` attribute, `CCDS`, is parsed:

[code]

How do I get rtracklayer to preserve all `tag` attributes fo

[2021-08-11 12:37] Roleren commented on #15
Any updates?
This is still a problem for among others the Arabidopsis thaliana gff from refseq

[2021-08-11 19:35] Roleren commented on #15
As a note, for possible improvement, here is a easy fix for many of these bad refseq genomes.
`
system("cat ~/Desktop/test_plant/Arabidopsis_thaliana_genomic_refseq.gff | awk '{ if (length($0) < 32768) print }' > ~/Desktop/test_plant/Arabidopsis_thaliana_genomic_refseq_trimmed2.gff")`

This trimmed version of the gff is imported successfully by rtracklayer.

[2021-08-11 19:48] HajkD commented on #15
Hi Håkon,

Nice to hear from you again! :)

I wrote a checker function for this issue a while back in my [orthologr](https://github.com/drostlab/orthologr) package.

https://github.com/drostlab/orthologr/blob/master/R/check_annotation.R

I hope this helps until this issue is resolved here?

Cheers,
Hajk

[2021-08-12 19:47] hpages commented on #15
Hi guys,

I completely missed this sorry. Should be fixed in **rtracklayer** 1.52.1 (BioC release) and 1.53.1 (BioC devel). No chop or drop mechanism for now, just increased the length of the input buffer from 65536 to 200000 (longest line I saw in the [RefSeq GFF file for TAIR10.1](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/735/GCF_000001735.4_TAIR10.1/GCF_000001735.4_TAIR10.1_genomic.g

[2021-08-12 22:13] Roleren commented on #15
Thanks a lot, then this issue can be closed when Hajk sees this, there is no more problems to address then I guess :)

[2021-08-13 17:43] HajkD commented on #15
Wonderful! Thank you very much for fixing this issue and for your kind reminder!

[2021-08-13 17:43] #15 closed

[2021-11-01 18:35] wir963 opened #55 "Issue with loading tracklayer"
Hey @lawremi,

I am trying to install and run rtracklayer on Mac OS Catalina via conda but unfortunately this fails. I've created a short reproducible example.

[code]

results in the below error (user is substituted for the real username):

[code]

This issue seemed similar to https://github.com/lawremi/rtracklayer/issues/32 so I found and deleted a stray openssl installation in `/usr/local/etc/`

[2021-11-05 18:14] cmatKhan opened #56 "failed to obtain hg38"
This works if I use hg19, but not hg38 -- is there a different way to use hg38?

[code]

[2021-11-10 12:43] cmatKhan commented on #56
I posted this on the bioconductor support page, also. There was a request for more details, which I can appreciate:

I am trying to follow the rtracklayer vignette. The object setup is everything before section 2.2, but it is section 2.2 which describes how to launch the UCSC browser.

The annotations themselves are imported using rtracklayer::import() from gencode38.

here is what each of the obj

[2021-11-11 01:58] sanchit-saini commented on #56
**TLDR:** `Seqinfo(genome = "hg38")` isn't working expectedly, Which is further causing `GRangesForUCSCGenome` to fail.
As it can't get sequence information.
### POC:
[code]

---
---

### Trying to recreate to see traceback
[code]

https://github.com/lawremi/rtracklayer/blob/2c4936861f62f62173097d6eeddb92936c570134/R/ranges.R#L107-L109

It's failing because sequence information is NULL, so it mean

[2021-11-11 02:03] sanchit-saini commented on #56
Opend a issue here:  https://github.com/Bioconductor/GenomeInfoDb/issues/32

[2021-11-11 03:32] sanchit-saini commented on #56
This issue has been addressed in the latest release of Bioconductor.

Please update Bioconductor release:
[code]

[2021-11-11 22:24] cmatKhan commented on #56
Thank you very much -- I appreciate the help!

[2021-11-11 22:24] #56 closed

[2021-11-25 10:09] slaish opened #57 "Import bigwigs via http on Windows machine"
In #52 there is a comment from June 9: 'Support for reading bigwigs on Windows is probably still a bit shaky.'
We find that the import function can read bigwig-files stored locally, but not from http, whereas it can read bed-files stored both locally and via http.
Will this issue be fixed at some point or do we need to find a workaround for Windows-users?

[2021-11-25 10:23] lawremi commented on #57
BED files are handled by R connections so get http support for free. BigWigs are parsed by the UCSC library, which has its own http implementation that does not support Windows. Simplest workaround would be to transfer the file to local storage, perhaps using BiocFileCache. However, that would defeat some of the benefit of BigWig.

[2021-12-16 08:21] sigven commented on #54
Hi, I experience the same issue. See my [related issue](https://github.com/rnabioco/valr/issues/384). I used [read_gtf()](https://rnabioco.github.io/valr/reference/read_gtf.html) from [valr](https://rnabioco.github.io/valr/index.html) that further depends on functionality from rtracklayer.

[2022-02-03 14:46] heavywatal opened #58 "export.gff3() adds trailing semicolons to the attributes column"
IMHO, trailing semicolons should be avoided because some downstream softwares like genome browsers may fail to parse them (as jbrowse2 does, at least) although they are not explicitly prohibited in [the current GFF3 spec](https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md).

I have submitted an issue (https://github.com/The-Sequence-Ontology/Specifications/issues/28) to cl

[2022-02-18 06:58] malcook opened #59 "import.bb returning incorrect ranges & results as compared with kent tools bigBedToBed"
I believe the results from bigBedToBed are correct below.

I would expect the results from import.bb to be near identical, but they are quite different.

[code]

I don't know if this discrepancy is specific to something about this file for I have not used import.bb yet with success.

This issue occurs when the file is on the local file system as well, but my example queries remote file to be easil

[2022-02-18 11:30] lawremi commented on #59
Thanks for the report. @sanchit-saini any idea why this might be happening?

[2022-02-20 14:26] sanchit-saini commented on #59
It happened because `BBDFile_query` received incorrect sequence information. Hence `BBDFile_query` ends up iterating over wrong sequence information(`r_seqnames`) and retrieving wrong results.
https://github.com/lawremi/rtracklayer/blob/4aa65701a6143c82441765288c5bd704db27371c/R/bigBed.R#L104-L106

https://github.com/lawremi/rtracklayer/blob/4aa65701a6143c82441765288c5bd704db27371c/src/bigBed.c#L8

[2022-02-20 15:27] #59 closed

[2022-02-20 16:04] malcook commented on #59
Thanks for the fix @lawremi  and @sanchit-saini .  I can't say I appreciate the internals that dictate the solution, but I'm glad you found it so quickly.  Should I expect install.github to pick up this fix now and interoperate with the rest of my R version 4.1.0 install?  If not, is there some other best practice I can undertake to take advantage of your fix without having to wait for next BioCon

[2022-02-20 17:42] lawremi commented on #59
It should be feasible to port this to the release branch.

[2022-03-15 16:43] hpages opened #61 "S.h removal from R 4.2"
Hi Michael,

We've been notified by R core that C header file `S.h` will be removed from R 4.2 very soon.

`S.h` is used in `rtracklayer/src/chain_io.c` here: https://github.com/lawremi/rtracklayer/blob/20b5bf4ee3e38971c5a01196cd3c9c8e695bd9ec/src/chain_io.c#L1
so **rtracklayer** would need to be modified to not depend on `S.h` anymore.

Thanks,
H.

[2022-03-22 17:53] hpages commented on #61
@lawremi Version needs a bump. People with the latest R-devel can't install the source tarball that we currently distribute (**rtracklayer** 1.55.3). Thx

[2022-04-01 15:55] bschilder opened #62 "Importing bigWigs from GEO: ` Error in .local(con, format, text, ...) : UCSC library operation failed `"
Hello,

`rtracklayer` layer has been great for importing various supplementary files from GEO. However, I've run into the following error when trying to import certain bigWig files.

A couple of notes:
- I've tried importing directly via the URL and by downloading the file and trying to import it locally.
- I see other users has issues on Windows, but I'm using MacOS. #52 #57

## Reprex

[GEO page

[2022-04-05 11:59] sanchit-saini commented on #62
Hi @bschilder,

I tried to replicate it on Linux and I think it should behave similarly on macOS.

[code]

Request to the URL is timed out as FTP protocol has a limit is 10000 milliseconds in UCSC kent library upon which rtracklayer relies. Hence the error states the UCSC operation failed.

**Solution :** It should work if you update the protocol to `http` from `ftp`. such as

[code]

It's surpris

[2022-04-09 16:21] sanchit-saini commented on #62
`rtracklayer` cannot modify or insert the prefix of a URI.

The only way we get information about the protocol is from the prefix of the URI. Hence, the burden of providing the correct prefix is on the user.

Without knowing the correct protocol, we don't know how to communicate with the resource such that we cannot operate on them.

An error occurred in the screenshot because the protocol is not

[2022-04-10 09:41] bschilder commented on #62
In the original example I gave, the ftp:// prefix was included and gave the same error as without it. So I don't think the error my in my most recent example was exclusively due to the omission of the ftp:// prefix (though it may very well have contributed).

However, now (as of April 10th 2022) I'm noticing that including the ftp:// prefix (without replacing it with http://) works when it didn't

[2022-04-21 07:44] tan5251 opened #63 "import.bw error"
When i improt bw files. it appear "Error in seqinfo(ranges) : UCSC library operation failed"

[2022-04-22 23:02] PeteHaitch opened #64 "Lack of functionality to export narrowPeaks files"
I noticed this while reviewing https://github.com/Bioconductor/Contributions/issues/2568
The lack of an export method for narrowPeaks files meant that the authors opted to roll their own, before eventually moving to `plyranges:write_narrowpeaks()`.

Should the `plyranges:write_narrowpeaks()` functionality be migrated to **rtracklayer** or **BiocIO** (I'm not really sure of the intended relationshi

[2022-05-10 19:44] mtmorgan opened #65 "`import.bw()` fails with long file names"
This works
[code]
but creating a longer 'name' for the file (the `?...` are ignored by the server; the use case comes from 'signed' URLs where the query includes authentication information)
[code]
leads to the error
[code]
A solution might be to more completely separate the url into a correct 'basename', or create a simple hash (e.g., djb2 of http://www.cse.yorku.ca/~oz/hash.html) of the path and

[2022-05-22 23:00] bschilder commented on #63
Same issue [here](https://github.com/neurogenomics/PeakyFinders/issues/6), though only on Windows.
Similar (same?) issue noted by @mtmorgan here: #65

[2022-05-23 00:15] bschilder commented on #63
### Reprex

[code]

### Error

![Screenshot 2022-05-23 at 01 15 14](https://user-images.githubusercontent.com/34280215/169722490-3c822252-7e48-40e0-b0e9-8435c066f808.png)

### Session info

[code]

[code]

[2022-05-23 02:27] lawremi commented on #65
Sounds like an upstream issue that we should at least report. I wonder if @sanchit-saini could find a temporary fix?

[2022-05-23 05:59] sanchit-saini commented on #65
Yes, I looked at the codebase and I think it might be possible to fix it. I'll create a PR soon

[2022-05-23 11:51] Codezy99 opened #66 "Is it possible to change the path for downloading the remote bw files?"
Hi Lawremi,

thanks for the super cool package. I am trying to do an analysis across the whole TCGA data set, so I am heavily using the `import.bw` function. The default path for store the remote bw is `/tmp/udcCache`. But now the data getting bigger and bigger, my home directory do not have enough space for all the bw files. So I was wondering if it is possible to change the path for the remote b

[2022-05-25 12:57] sanchit-saini commented on #66
Hi @Codezy99,

Value of default cache directory can be update with the
[code]

Note: To use a custom cache directory properly. Every time after loading `rtracklayer`, A call should be made to set the new cache directory path otherwise, it would fall back to using the default.

[2022-05-25 18:49] sanchit-saini commented on #63
Hi @bschilder,
Thanks for reporting it looks similar in nature but it's not related to #65.
Also, I'm try to fix this soon.

[2022-05-27 17:22] #65 closed

[2022-05-27 19:41] Codezy99 commented on #66
@sanchit-saini thanks a lot!

[2022-06-01 14:00] ScottNortonPhD commented on #32
Has any work been done relating to this issue? The problem seems to rise from the configure script. There is a workaround but it really shouldn't be necessary.

First, install openssl@1.0 via Homebrew.
Next, unlink the existing openssl.
Manually create a symlink from /usr/local/opt/openssl@1.0 to /usr/local/opt/openssl.
Configuration should proceed as normal.

Frustratingly, if the user specifies

[2022-06-06 12:17] komalsrathi opened #69 "import not working anymore"
Hi,

I am trying to import a gtf file using the import function. This used to work fine before - not sure which R version or package version I had because I recently got a new laptop.

Code:
[code]

Session info:
[code]

[2022-06-07 17:58] mtmorgan commented on #65
Reporting that this solved my problem, thanks!

[2022-06-08 18:18] quattro opened #70 "LiftOver for genetic variants results in misplacement"
Hi all,

Thanks for developing a fantastic tool for the community. I'm running into a liftOver issue [within another package](https://github.com/neurogenomics/MungeSumstats/issues/104), and thought I would raise the issue here.

Namely, when I try to liftover the GRCh37 coordinates to GRCh37 for the SNP `rs190850470`, I see the following output:

`rs190850470 chrX:50858748` -> `rs190850470 chr2:33

[2022-06-08 19:53] mjsteinbaugh opened #71 "`restfulr::download.file` usage results in warning"
Hi @lawremi ,

I noticed with rtracklayer 1.56.0 on R 4.2 / Bioconductor 3.15 that loading rtracklayer now results in this warning:

[code]

Would it be possible to rename this conflict in restfulr?

Best,
Mike

[2022-06-08 19:55] mjsteinbaugh commented on #71
Issue https://github.com/lawremi/rtracklayer/issues/69 is also somewhat related

[2022-06-08 19:57] mjsteinbaugh commented on #55
@wir963 This is a bioconda issue -- file here: https://github.com/bioconda/bioconda-recipes

[2022-06-15 21:54] mjsteinbaugh commented on #71
PS thanks again for rtracklayer, it's awesome

[2022-06-15 22:33] albert-ying commented on #63
I also encountered the same issue on the linux (ubuntu)

[2022-06-16 06:16] almeidasilvaf commented on #71
Hi, @lawremi

I have the same problems reported in this issue and in #69 when trying to pass URLs to import(). I think the problem is indeed because you pushed a broken version of `restfulr` to CRAN. It was working fine for me yesterday in the morning, but then I had to upgrade `GenomicRanges` and all its dependencies were upgraded, including rtracklayer and restfulr. After the upgrade, import() d

[2022-06-16 09:11] lawremi commented on #71
restfulr 0.15 is on its way to CRAN.

[2022-06-21 16:34] bschilder commented on #63
Any progress @sanchit-saini ?

[2022-06-22 13:15] sanchit-saini commented on #63
I already created a PR( #68 ) that fixed this issue.

[2022-06-22 13:16] bschilder commented on #63
@sanchit-saini Great to hear! Has this been pushed upstream to Bioconductor yet?

[2022-06-22 13:20] bschilder commented on #63
Great, thanks!

[2022-06-22 18:40] lawremi commented on #71
I think this should be resolved now? Please reopen if not.

[2022-06-22 18:40] #71 closed

[2022-06-22 19:19] mjsteinbaugh commented on #71
Looks to be fixed, thanks!

[2022-06-30 14:40] doliv071 commented on #17
I am also having an issue related to this. When I use `export.bw`, it consumes ~25Gb of ram and then fails to release it from memory.

[code]
Should I be opening a connection to a file manually and closing it after?

For reference my incoming BAM file is 1.6Gb and the output bigwig is 228Mb

[2022-06-30 21:15] lawremi commented on #17
BigWig export is implemented by the Kent library, so there's no support for connections, and the memory does not belong to R for it to be garbage collected. The library does, however, clean up after itself. This is the first I've heard of it leaking memory. Are you sure it's not just cached by the process?

[2022-07-01 14:41] doliv071 commented on #17
How can I check this?

[2022-07-05 14:42] komalsrathi commented on #69
Closing as this seems to be resolved.

[2022-07-05 14:42] #69 closed

[2022-07-29 16:54] loukesio opened #72 "Convert an R data.frame to bed format with rtracklayer"
It's not really an issue but I am struggling a lot with the case.
Is it possible to convert an R data.frame to .bed format with tracklayer.
At the moment I am facing something like this ..

I have a data.frame that looks like this.

[code]

<sup>Created on 2022-07-29 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

and I want to convert it into a bed file. I try to do it with

[2022-07-30 12:25] lawremi commented on #72
Please post questions like this on support.bioconductor.org in the future. I'd recommend using `GenomicRanges::makeGRangesFromDataFrame()` and passing the result to `rtracklayer::export()`.

[2022-07-30 12:25] #72 closed

[2022-08-08 21:21] bschilder opened #73 "`import.bw`: Unable to read remote files"
I'm afraid this same error (#63 ) is still happening with remote bigwig files, even with the dev version of `rtracklayer` (1.57.0, installed from GitHub) @sanchit-saini :

## Reprex

[code]

#### Error

[code]

I confirmed that downloading the file manually and importing from the local file works, meaning the file itself is fine. It just importing directly from the remote server that `import` has

[2022-08-10 11:15] sanchit-saini commented on #73
Hi @bschilder,
It is not related to #63. I know looks a bit confusing at first but if you look at the error message closely you will notice it is different from the previously reported issue.

`rtracklayer` follows a convention of displaying error message `UCSC library operation failed` whenever any UCSC kent library operation failed.

canonical error message is `Response is missing required heade

[2022-08-10 11:26] bschilder commented on #73
Thanks for the quick reply, @sanchit-saini

Just alerted them here:
https://github.com/ucscGenomeBrowser/kent/issues/69

[2022-08-26 04:58] bosmont opened #74 "error import bw file"
Hi I am new to rtracklayer.  Just install it from the github.  But when I run the test code:

 test_path <- system.file("tests", package = "rtracklayer")
 test_bw <- file.path(test_path, "test.bw")
 gr <- import(test_bw)

I got the following error:

Error in stop_if_wrong_length(what, ans_len) :
  'ranges' must have the length of the object to construct (9) or length 1

I found people posting simi

[2022-08-26 23:28] bosmont commented on #74
Forgot to mention, I am running the above command in my linux box in Rstudio

[2022-08-31 22:47] endeneon opened #75 "ucscGenomes() returns NULL"
[code]
According to the function description it would populate data from http://genome.ucsc.edu/cgi-bin every time when it was called and returns a data.frame. However, starting from this week it seems that either the UCSC genome browser website changed its XML data format or simply put a 403 page there. Does anyone experience the same error (especially when using GViz-related functions such as Uc

[2022-09-01 10:51] sanchit-saini commented on #75
Hi @endeneon,

I wasn't able to replicate it. Can you share your sessionInfo.

[2022-09-04 14:50] bschilder opened #76 "Unable to read remote bed.bgz"
Hello,

I'm trying to query subsets of Roadmap bed.gz files. However there seems to be some issues here:

## Reprex
### Code
[code]
### Console output
[code]
### Traceback
[code]

## Session info

<details>
[code]
</details>

Many thanks in advance,
Brian

[2022-09-04 14:56] bschilder commented on #76
It seems that the issue only occurs when the file is remote. Downloading the entire file first does technically circumvent the issue, though this approach isn't ideal:

[code]
![Screenshot 2022-09-04 at 15 56 36](https://user-images.githubusercontent.com/34280215/188319903-fb4afd80-b5f3-49f9-85a8-0d96eacd5ef8.png)

[2022-10-01 10:39] bschilder commented on #76
@lawremi @sanchit-saini, this error is still persisting. Do you know what might be happening here?

[2022-10-01 10:48] bschilder opened #77 "`import.bb`: Error when `which=NULL`"
Other `import.*` functions simply ignore the `which=` arg when it's set to `NULL`, but `import.bb` throws an error instead

# Reprex

## Code

[code]

## Console output

[code]

# Session info

<details>
[code]
</details>

Best,
Brian

[2022-10-03 09:28] lawremi commented on #74
Please install the version from Bioconductor using BiocManager, which will also help you update all of your packages. If you still get the error, then please post a stack trace to help us figure this out.

[2022-10-10 16:48] lawremi opened #78 "Test failure on Windows due to multibyte character issue"
Looks like the Bioc Windows build machine is failing to build the package due to this test failure (seems to be at L302 in bed.R):
[code]

This might be related to the use of `pushBack()` on connections in the BED parsing code. Just a guess.

@sanchit-saini are you able to test and reproduce this on Windows?

[2022-10-13 06:54] sanchit-saini commented on #78
Hi @lawremi,

I tried and could not reproduce it. Also attached the build log

Test platform details:
[code]

<details>

<summary>R CMD build Logs</summary>

[code]

</details>

<details>

<summary>R CMD check Logs</summary>

[code]

</details>

[2022-10-15 00:04] lawremi commented on #78
Thanks, looks like the build error cleared up. Kind of concerning, but I think we can close this for now.

[2022-10-15 00:04] #78 closed

[2022-10-21 19:42] BEFH commented on #70
I think this is due to the use of the UCSC chain files and is working as intended. I generally discard cross-chromosome mappings.

[2022-10-24 19:16] hpages commented on #76
Hi @bschilder , I didn't investigate much but this is how `rtracklayer::import()` reads this remote BED file:
[code]
Major problem is that `bed` only has 1127 rows!
[code]
Minor problem is that the last row has an unexpected `NA` in the `thickEnd` column:
[code]
Compare this to what `rtracklayer::import()` does to read the file locally:
[code]

So it looks to me that `read.table()` is somehow brok

[2022-10-25 22:08] bschilder commented on #76
Hi @hpages thanks for taking a look at this, this definitely gives me some clues.

I actually found the below approach does a decent job. Of course, this is just a temporary solution as it still has to download the whole file first, which is less efficient than making a query. But at least this approach consistently reads in all 493,652 rows, and can handle situations where there's some NAs.

[cod

[2022-10-25 22:34] hpages commented on #76
That doesn't solve the real problem which is that the remote file doesn't contain any NA so there shouldn't be one in the data.frame obtained by importing the file.

One workaround is to not try to import the remote file directly, but to download it to a temporary file first, like you did manually, except that this would need to be baked in rtracklayer::import().

FWIW I adopted that approach in `

[2022-10-26 09:07] bschilder commented on #76
Ah ok, I see what you mean. Very strange that the NA gets introduced somehow.

![Screenshot 2022-10-26 at 10 03 47](https://user-images.githubusercontent.com/34280215/197984154-923e0a97-972f-4013-a021-a7543e0adc5b.png)

Nice! Thanks for sharing this. @sanchit-saini @lawremi something along these lines would be a great feature for`rtracklayer`

[2022-11-07 04:44] pre-mRNA commented on #23
Very helpful, thanks. It would be great if this functionality could be added directly to rtracklayer.